<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/About_us.css">
	<title>About us</title>
</head>
<body>
	<div class="banner">
		<img class="banner_img" src="/home/red-evil/Desktop/AGROFAM/About us/source/2.jpg">
		<div class="img_text">
			<p class="img_texts"><details> <summary>We are on a mission....</summary><br>to produce pure organic Fruits and vegetables <br>all over India and save the people<br> from eating harmful chemicals injected fruits and vegetables.</details> </p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="down_text">
		<img class="img_float" src="/home/red-evil/Desktop/AGROFAM/About us/source/team.jpg">
		<p class="down_text">Nowadays we often get to hear about the use of the harmful chemical in our fruits and vegetables, We don't know the vegetables we are eating in our daily lives are healthy or not, We are least bothered to know about them, The food we are consuming is made up of fatal chemicals.<br>

Farmers are using these chemicals to promote the artificial beauty of their vegetables so that they can attract customers, without taking care of the harmful side effects of those deadly chemicals. The chemical causes various types of illness among the consumers including mental impairment and even cancer. Some of the lists of the deadly diseases caused by consuming chemical injected food are<br>
    • Reproductive problems
    <br>
    • Respiratory problems
    <br>
    • Neurological damage
    <br>
and many more.
<br>
<br>
<br>
<span class="size">Who are we?  What do we do?</span><br>
<span class="green ,size">What AGROFAM does?</span>
<br>
Agrofam Connects with thousand of farmers and visits each of them personally, Then we raise efforts to educate the farmers to grow pure organic vegetables, not only this we work with farmers to teach them the proper methods of cultivation of suitable vegetables and fruits for that particular region we check the quality of the soil with the help of special types of detectors and sensors which helps us to know the need of the soil and let us know the requirements need to enrich the soil with more minerals and nutrients.
<br>
By doing this we promote a purely organic and healthy way of growing Crops that doesn't cause any harm and will boost the immunity of the consumers.
<br>
Connecting with agrofam will help farmers to sell their products at a genuine price, and produce better earnings and consumers will get the goods at the lowest price with full nutrients in them.
</p>
	</div>
	<div class="gray">
		
		<p class="last">Meet our Team</p>
		<p class="light_green">Capable team with deep technology, market, and <br> execution expertise</p>
		<div class="container">
			<div class="box"><img src="source/saurabh sir-modified.png" height="200px" width="200px"></div>
			<div class="box"><img src="source/sushilsir-modified.png"height="200px" width="200px"></div>
			<div class="box"><img src="source/Anandita-modified.png"height="200px" width="200px"></div>
			<div class="box"><img src="source/manthan-modified.png"height="200px" width="200px"></div>
			<div class="box"><img src="source/ankush-modified.png"height="200px" width="200px"></div>
		</div>

	</div>
</body>
</html>