<!DOCTYPE html>
<html>
<head>
    <title>Project4</title>
    <link rel="stylesheet" href="project4.css">
</head>
<body>
    <div className="container">
        <h4><u>PROJECT 4- AGARBATTI, DHOOPBATTI, DIYE (LAMPS) USING COW DUNGS </u></h4>
        <p>
            Lighting a cow dung diya, Agarbatti, 
            Dhoopbatti using indigenous cow ghee has 
            been practiced in India for centuries 
            because of its religious importance and 
            other recent scientifically proven benefits. 
            The rising cost of life and other modern 
            exposures do continue to put our 
            traditional methods on back burner by new 
            generation, but the fact is that it is not easy 
            to overlook or overshadow the importance 
            and authentic qualities attached to our 
            traditional Ayurveda products and 
            methods. You can try a different kind of 
            diya, besides the traditional earthen lamps. 
            It is an alternate source of income to the 
            cowsheds as well. It is eco-friendly and promotes the vision of “Vocal for Local” as well. 
            Before the age of fire crackers Diwali, the festival of lights was majorly celebrated by lighting 
            these eco-friendly diya’s across India.
        </p>
        <img src="manthsn 2.jpeg" alt="9" style="margin-left: 500px;" width="500" height="300"/>
        <p>
            Today the cow dung products are mainly lighted on auspicious occasions in the temples and at 
            home in front of Tulsi (basil) plant as a mark of respect to nature and mother earth. The lighting 
            of these diyas not only gives positive energy but also cleanses the atmosphere, and left by itself it 
            decomposes itself and turns into organic manure without leaving any trace of carbon footprint at 
            all! <br/>
            Considering its eco-friendliness many people still prefer to light a 
            diya and show their responsiveness towards the environment. <br/><br/>
            Here are the Benefits of lighting Cow Dung or Gobar Diya: 
            1. Chemical free diya help to attract good energy and 
            improves oxygen level in the environment 
            2. Spreads positive energy, mood, vibe, and health
            3. The ash residue can be utilized for plants as co mpost and 
            makes for a natural fungicide. 
            4. Supports Small Home Businesses and Rural Economy 
            Since the ingredients used for preparing the cow dung ghee diyas 
            are abundantly available in rural India, it creates major 
            employment for rural families as well as helps to sustain the Indian 
            Indigenous cows. 

        </p>
        <img src="manthan 1.jpeg" alt="9" style="margin-left: 500px;" width="500" height="300"/>
        <p>
            The thing with desi cows is that they give milk for a limited time 
            but their urine and dung is available round the year which is used to create diyas, agarbatti etc. to 
            create a source of earning for rural families.
        </p>
    </div>
</body>
</html>