<!DOCTYPE html>
<html>
<head>
    <title>Our Projects</title>
    <link rel="stylesheet" href="projects.css">
</head>
<body>
    <div className="container">
        <div className="box1">
            <div className="box">
                <h2>01</h2>
                <h3>Green Energy(Generate Electricity)</h3>
                <p>To convert modern India into advance India we need lots of power (Electricity).Today we are generating 
                    electricity with help of nuclear plants, Coal, Dams, Fossil fuels, Oils etc. All of these mentioned items are 
                    scarce in nature. Our ancestors had created lots of ways to produce energy. 
                    We have created a model where we can produce electricity with the help of ox.<br/><button type="submit" classNameName="fas">Know More.</button>
                </p>
            </div>
            <div className="box">
                <h2>03</h2>
                <h3>Dung Wood(Utilize dung, save nature and control pollution)</h3>
                <p>Commonly, wood, electricity or LPG gas is used for cremation purposes. In India, people mostly 
                    prefer traditional products for cremation e.g. wooden logs and dried cow dung logs. The logs 
                    which are produced are then put under the sunlight to dry out the moisture inside them, making 
                    them hard and sturdy like wood.
                    Cow Dung wood/ logs is one of the precious 
                    product, which can use for burning instead of 
                    normal tree wood its size from 1 feet to 3 feet 
                    and we can save lakh of trees through use and 
                    promote Cow dung made wood.<br/><button type="submit" classNameName="fas">Know More.</button> </p>
            </div>
        </div>
        <div className="box2">
            <div className="box">
                <h2>02</h2>
                <h3>Vermicompost(Make Fertilizer) </h3>
                <p>Vermicomposting is a biological process for efficient cattle manure treatment, but the 
                    vermicomposting time determines the quality of the vermicompost. 
                    Where there are animals, there is animal manure. With the intensification, industrialization and 
                    specialization of the cattle industry, environment pollution and cow dung comprehensive 
                    utilization issues in cattle farm have become increasingly obvious. One animal unit of fattened 
                    cattle produces an average of 10.59 tons per year and dairy cows 15.24 tons per year. <br/><button type="submit" classNameName="fas">Know More.</button></p>
            </div>
            <div className="box">
                <h2>04</h2>
                <h3>Agarbatti, Dhoopbatti and Diye(Utilize dung, save nature and control pollution)</h3>
                <p>Lighting a cow dung diya, Agarbatti,Dhoopbatti using indigenous cow ghee has been practiced in India for centuries because of its religious importance and other recent scientifically proven benefits.The rising cost of life and other modern exposures do continue to put our traditional methods on back burner by new generation, but the fact is that it is not easy to overlook. <br/><button type="submit" classNameName="fas">Know More.</button></p>
            </div>
        </div>
    </div>
</body>
</html>