<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sellers</title>
	<link rel="stylesheet" type="text/css" href="css/sellers.css">
</head>
<body>
			<div class="container1">
				<div class="img" ><img class="banner" src="source/Crop.jpg"></div>
				<div class="overimg"> 
				<p class="overimgtext">Sell your excess produce and products directly to Agrofam-</p>
				<button class="btn">SIGN UP FOR FREE →</button>
				</div>
		   </div>

<div class="space"></div>

			<div class="container2">
				<div class="box2"><img src="source/growth.png" height="80px" width="80px"><br><p class="green"> Sell more, Earn<br> more</p><p class="normal">Our growers have increased profits by up to 12%</p></div>
				<div class="box2"><img src="source/distribution-network.png" height="80px" width="80px"><p class="green">Reach More Buyers</p><p class="normal">Instantly access thousands of food & beverage processors and manufacturers who are in search for your product.</p></div>
				<div class="box2"><img src="source/sell.png" height="80px" width="80px"><p class="green">Sell Online with <br>Ease</p><p class="normal">Post and sell all in one place. Then get paid on time.</p></div>
			</div>
			<div class="center"><button class="btn2">Try it Now</button></div>
<div class="space"></div>
					
						<div class="center"><p class="big">Less Emailing, More Selling<br><span class="whitesmoke">Showcase your produce with details and photos to speed up the sales process.</span></p></div>


<div class="space"></div>

						<div class="center"><img class="img1" src="source/box.png"></div>

<div class="space"></div>

						<div class="center"><p class="big">The Agrofam marketplace is your sales channel for excess produce.</p></div>

<div class="space"></div>

						<div class="container3">
			<div class="box3"><img src="source/sell.png" height="80px" width="80px"><p class="gray">List your produce in under a minute</p></div>
			<div class="box3"><img src="source/cart.png" height="80px" width="80px"><p class="gray">Buyers purchase your produce from our marketplace </p></div>
			<div class="box3"><img src="source/truck.png" height="80px" width="80px"><p class="gray">Agrofam arranges delivery</p></div>
			<div class="box3"><img src="source/pay.png" height="80px" width="80px"><p class="gray">You get paid on time</p></div>


<div class="space"></div>
			
			<div class="center , space"><p class="big">We sell excess produce of all shapes & sizes<br><span class="whitesmoke">Here are real supplier photos of our top selling commodities</span></p></div>


		<div class="container">
			<div class="box"><img src="source/lemons.jpg " width="214px" height="154px"></div>
			<div class="box"><img src="source/orange.jpg " width="214px" height="154px"></div>
			<div class="box"><img src="source/taro.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/cauliflower.jpg" width="214px" height="154"></div>
			<div class="box"><img src="source/spiny-gourd.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/bananas.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/capsicum.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/peas.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/bitter-melon.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/apple.jpg" width="214px" height="154px"></div>
			<div class="box"><img src="source/potato.jpg" width="214px" height="154px"></div>
			<div class="box"><p class="cart"> 100+ items</div>
		</div>
	<div class="center , space"><button class="btn3">Sell Your Product Today</button></div>
	<div class="space"><img class="space" src="source/footer1.jpg" width="1200px"></div>

</body>
</html>